<!DOCTYPE html>
<html>

<head>
    <title>Play It By Year</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="script.js"></script>
    
    <link rel="stylesheet" href="main.css">
</head>

<body ng-app='app' ng-controller='mainCtrl'>
    <header class="shadow">
        <div class="container text-center pt-5 pb-5" id="site-header">
            <h1>♫♬♪ PLAY IT BY YEAR ♪♫♬</h1>
        </div>
    </header>
    
    <div class="container guide pt-4 pb-4 mt-5 mb-5 text-center center rounded shadow">
        <h3>Pick a year below to sample music from that time period.</h3>
    </div>
    
    <div class="year-list container d-flex flex-wrap justify-content-center">
        <div ng-repeat="decade in timeline" class="year rounded shadow text-center conatiner mt-4 mb-4 mr-2 ml-2" id="year-{{decade.year}}" ng-click="toggleYear(decade.year)">{{decade.year}}s</div>
    </div>
    
    <div class="container song-list d-flex flex-wrap justify-content-center">
        <div ng-repeat="track in tracks | limitTo:trackDisplayCount" class="song shadow-lg" style='background-image: url("http://direct.rhapsody.com/imageserver/v2/albums/{{track.albumId}}/images/300x300.jpg")' ng-mouseover="showInfo((track.id).substring(4))" ng-mouseleave="hideInfo((track.id).substring(4))">
            <div class="song-info container text-center" ng-click="togglePlayback((track.id).substring(4))">
                <h3 class="pt-2">{{track.name}}</h3>
                <h4>{{track.artistName}}</h4>
                <audio src="{{track.previewURL}}" type="audio/mpeg" preload="auto" id="{{(track.id).substring(4)}}"></audio>
                <img src="img/control/play.png" class="audio-control center pt-3" id="control-{{(track.id).substring(4)}}">
            </div>
        </div>
    </div>
    
    <div class="container display-count rounded text-center mt-2 mb-2">
        <button class="btn-lg btn-dark" ng-click="displayMore()">Show {{trackDisplayCount + 3}} Tracks</button>
    </div>
    
    <footer>
        <div class="container text-center">
            <span id="footerText">© 2018 by Clark Brown  |  <a href="https://napster.com/" target="_blank">Powered by Napster™</a></span>
        </div>
    </footer>
        
</body>

</html>
