html {
    position: relative;
    min-height: 100%;
    min-width: 340px;
}

body {
  background-image: url("img/bg.png");
  background-color: #333333;
  margin-bottom: 75px;
}

.center {
  margin: auto;
}


header {
  display: block;
  background-color: #303030;
  background-image: url("img/terrazzo.png");
  color: white;
  font-family: impact;
}


/****** FOOTER ******/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #303030;
  color: white;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: #F0F0F0;
}

/****** GUIDE ******/

.guide {
  background-color: #333333;
  color: white;
  width: 80%;
}


/****** YEAR ******/

.year {
  color: white;
  font-size: 20px;
  background-color: black;
  width: 144px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.year:hover {
  cursor: pointer;
  background-color: #333333;
}

.active-year {
  background-color: #303030;
  font-weight: bold;
}


/****** SONG ******/

.song {
  width: 300px !important;
  height: 300px !important;
  margin: 10px;
  display: block;
}

.song-list {
  display: none;
}

.display-count {
  display: none;
}


/****** SONG INFO and AUDIO ******/

.song-info {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.play {
  background-image: url("img/control/play.png");
  height: 50px;
  width: 50px;
}

.pause  {
  background-image: url("img/control/pause.png");
  height: 50px;
  width: 50px;
}

.audio-control {
  height: 38%;
  width: auto;
  filter: invert(100%);
}

.audio-control:hover {
  cursor: pointer;
}

.song-info .play, .pause {
  cursor: pointer;
}

audio {
  display: none;
}